.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
}

.main-nav a {
    font-weight: bold;
    color: #2c3e50;
}

.main-nav a.router-link-exact-active {
    color: #42b983;
}

.main-nav-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

.main-nav-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-nav-item {
    text-decoration: none;
    color: #2c3e50;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.main-nav-item:hover {
    text-decoration: none;
    color: #2c3e50;
    color: #42b983;
}

/* a:hover {
    color: #2c3e50;
} */

.main-nav-item i {
    margin-right: 10px;
}

.main-nav-item i::before {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav-logo-image {
        max-width: 100%;
        width: auto;
    }

    .main-nav-items {
        display: flex;
        justify-content: flex-end;
    }

    .main-nav-item {
        font-size: 1.4rem;
    }
}
