/* form */
.sign-in-form {
    margin: 1rem 0;
}

/* button */
.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    text-decoration: none;
    margin: 2rem 0;
}
