.sign-in-heading i {
    margin: 1rem;
}

.sign-in-heading i::before {
    font-size: 5rem;
    color: #e1e6ed;
    /* color: #a2adb9; */
}

/* .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
} */
