.sign-in-heading {
    margin: 1rem 0;
}

.sign-in-heading i {
    margin: 1rem;
}

.sign-in-heading i::before {
    font-size: 5rem;
    color: #e1e6ed;
    color: #a2adb9;
}

.sign-in-heading h1 {
    /* margin: 1rem; */
    font-size: 1.5rem;
}
