.main-signIn {
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12002b;
}

.sign-in-container {
    box-sizing: border-box;
    background-color: #fff;
    width: 300px;
    margin: 3rem auto;
    margin-bottom: 3rem;
    width: 30rem;
    height: auto;
}

.sign-in-content {
    width: 100%;
    height: auto;
    padding: 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

@media (min-width: 490px) {
    .sign-in-container {
        margin: 1rem auto;
        border-radius: 0.25rem !important;
    }
}

label {
    margin-top: 10px;
}
